server:
  port: 8080

spring:
  application:
    name: vacanza-backend

  profiles:
    active: dev # security kapatmak için dev ortamına ayarladım

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: true

geoapify:
  base-url: https://api.geoapify.com/v2
  api-key: ${GEOAPIFY_API_KEY}
